<div class="mt-12 sm:mt-28">
  <h2 class="text-3xl text-center mb-4">{{ "common.appTitle" | translate }}</h2>

  <div class="max-w-md w-full mx-auto px-4 mt-8">
    <button class="btn btn-sm btn-primary" (click)="goBack()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="m7.825 13l4.9 4.9q.3.3.288.7t-.313.7q-.3.275-.7.288t-.7-.288l-6.6-6.6q-.15-.15-.213-.325T4.426 12t.063-.375t.212-.325l6.6-6.6q.275-.275.688-.275t.712.275q.3.3.3.713t-.3.712L7.825 11H19q.425 0 .713.288T20 12t-.288.713T19 13z"
        />
      </svg>
      {{ "common.back" | translate }}
    </button>
  </div>

  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box max-w-md w-full mx-auto border p-4"
  >
    <legend class="fieldset-legend">
      {{ "auth.register.legend" | translate }}
    </legend>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <label class="label">{{ "auth.register.firstName" | translate }}</label>
      <input
        type="text"
        class="input w-full"
        [placeholder]="'auth.register.firstNamePlaceholder' | translate"
        formControlName="firstName"
        [class.input-error]="firstName?.invalid && firstName?.touched"
      />
      @if (firstName?.invalid && firstName?.touched) {
        <div class="text-error text-sm mt-1">
          <span>{{ "errors.firstNameRequired" | translate }}</span>
        </div>
      }

      <label class="label mt-4">{{
        "auth.register.lastName" | translate
      }}</label>
      <input
        type="text"
        class="input w-full"
        [placeholder]="'auth.register.lastNamePlaceholder' | translate"
        formControlName="lastName"
        [class.input-error]="lastName?.invalid && lastName?.touched"
      />
      @if (lastName?.invalid && lastName?.touched) {
        <div class="text-error text-sm mt-1">
          <span>{{ "errors.lastNameRequired" | translate }}</span>
        </div>
      }

      <label class="label mt-4">{{ "auth.register.email" | translate }}</label>
      <input
        type="email"
        class="input w-full"
        [placeholder]="'auth.register.emailPlaceholder' | translate"
        formControlName="email"
        [class.input-error]="email?.invalid && email?.touched"
      />
      @if (email?.invalid && email?.touched) {
        <div class="text-error text-sm mt-1">
          @if (email?.errors?.["required"]) {
            <span>{{ "errors.emailRequired" | translate }}</span>
          }
          @if (email?.errors?.["email"]) {
            <span>{{ "errors.emailInvalid" | translate }}</span>
          }
        </div>
      }

      <label class="label mt-4">{{
        "auth.register.password" | translate
      }}</label>
      <div class="relative">
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="input w-full pr-10"
          [placeholder]="'auth.register.passwordPlaceholder' | translate"
          formControlName="password"
          [class.input-error]="password?.invalid && password?.touched"
        />
        <button
          type="button"
          class="absolute right-3 top-1/2 -translate-y-1/2 text-base-content/60 hover:text-base-content z-10"
          (click)="togglePasswordVisibility()"
        >
          @if (showPassword) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
              />
            </svg>
          } @else {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
          }
        </button>
      </div>
      @if (password?.invalid && password?.touched) {
        <div class="text-error text-sm mt-1">
          @if (password?.errors?.["required"]) {
            <span>{{ "errors.passwordRequired" | translate }} </span>
          }
          @if (password?.errors?.["minlength"]) {
            <span>{{ "errors.passwordMinLength" | translate }} </span>
          }
          @if (password?.errors?.["passwordStrength"]) {
            <span>{{ "errors.passwordStrength" | translate }}</span>
          }
        </div>
      }

      <label class="label mt-4">{{
        "auth.register.confirmPassword" | translate
      }}</label>
      <div class="relative">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          class="input w-full"
          [placeholder]="'auth.register.confirmPasswordPlaceholder' | translate"
          formControlName="confirmPassword"
          [class.input-error]="
            (confirmPassword?.invalid && confirmPassword?.touched) ||
            (registerForm.errors?.['passwordMismatch'] &&
              confirmPassword?.touched)
          "
        />
        <button
          type="button"
          class="absolute right-3 top-1/2 -translate-y-1/2 text-base-content/60 hover:text-base-content z-10"
          (click)="toggleConfirmPasswordVisibility()"
        >
          @if (showConfirmPassword) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
              />
            </svg>
          } @else {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
          }
        </button>
      </div>
      @if (confirmPassword?.touched) {
        <div class="text-error text-sm mt-1">
          @if (confirmPassword?.errors?.["required"]) {
            <span>{{ "errors.confirmPasswordRequired" | translate }}</span>
          }
          @if (
            registerForm.errors?.["passwordMismatch"] &&
            !confirmPassword?.errors?.["required"]
          ) {
            <span>{{ "errors.passwordMismatch" | translate }}</span>
          }
        </div>
      }

      <button
        type="submit"
        class="btn btn-neutral w-full mt-4"
        [disabled]="isLoading"
      >
        @if (isLoading) {
          <span class="loading loading-spinner loading-md"></span>
          {{ "auth.register.registering" | translate }}
        } @else {
          {{ "auth.register.submit" | translate }}
        }
      </button>
    </form>
  </fieldset>

  <div class="flex justify-between max-w-md w-full mx-auto mt-2">
    <button
      type="button"
      class="btn btn-soft btn-sm btn-secondary"
      (click)="toggleLanguage()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M8.125 21.213q-1.825-.788-3.187-2.15t-2.15-3.188T2 11.988t.788-3.875t2.15-3.175t3.187-2.15T12.013 2t3.875.788t3.175 2.15t2.15 3.175t.787 3.875t-.787 3.887t-2.15 3.188t-3.175 2.15t-3.875.787t-3.888-.787M12 19.95q.65-.9 1.125-1.875T13.9 16h-3.8q.3 1.1.775 2.075T12 19.95m-2.6-.4q-.45-.825-.787-1.713T8.05 16H5.1q.725 1.25 1.813 2.175T9.4 19.55m5.2 0q1.4-.45 2.488-1.375T18.9 16h-2.95q-.225.95-.562 1.838T14.6 19.55M4.25 14h3.4q-.075-.5-.112-.987T7.5 12t.038-1.012T7.65 10h-3.4q-.125.5-.187.988T4 12t.063 1.013t.187.987m5.4 0h4.7q.075-.5.113-.987T14.5 12t-.038-1.012T14.35 10h-4.7q-.075.5-.112.988T9.5 12t.038 1.013t.112.987m6.7 0h3.4q.125-.5.188-.987T20 12t-.062-1.012T19.75 10h-3.4q.075.5.113.988T16.5 12t-.038 1.013t-.112.987m-.4-6h2.95q-.725-1.25-1.812-2.175T14.6 4.45q.45.825.788 1.713T15.95 8M10.1 8h3.8q-.3-1.1-.775-2.075T12 4.05q-.65.9-1.125 1.875T10.1 8m-5 0h2.95q.225-.95.563-1.838T9.4 4.45Q8 4.9 6.912 5.825T5.1 8"
        />
      </svg>
      {{ languageLabel() }}
    </button>
    <button
      type="button"
      class="btn btn-soft btn-sm btn-secondary"
      href="mailto:it@pcfsouvenirs.com"
    >
      {{ "common.support" | translate }}
    </button>
  </div>
</div>
