<div class="flex flex-col min-h-screen">
  <div class="grow mt-16 sm:mt-40 max-w-2xl mx-auto px-4 w-full">
    <div class="mb-8">
      <button class="btn btn-sm btn-primary" (click)="goBack()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="m7.825 13l4.9 4.9q.3.3.288.7t-.313.7q-.3.275-.7.288t-.7-.288l-6.6-6.6q-.15-.15-.213-.325T4.426 12t.063-.375t.212-.325l6.6-6.6q.275-.275.688-.275t.712.275q.3.3.3.713t-.3.712L7.825 11H19q.425 0 .713.288T20 12t-.288.713T19 13z"
          />
        </svg>
        Back to Dashboard
      </button>
    </div>

    <h1 class="text-3xl mb-6">Create New Timesheet</h1>

    <fieldset
      class="fieldset bg-base-200 border-base-300 rounded-box border p-6"
    >
      <legend class="fieldset-legend">Timesheet Details</legend>

      <form [formGroup]="timesheetForm" (ngSubmit)="onSubmit()">
        <div class="mb-6 flex gap-4">
          <div class="flex-1">
            <label class="label">
              <span class="label-text">Week Start Date*</span>
            </label>
            <input
              type="date"
              class="input w-full"
              formControlName="dateFrom"
              [class.input-error]="dateFrom?.invalid && dateFrom?.touched"
            />
            @if (dateFrom?.invalid && dateFrom?.touched) {
              <div class="text-error text-sm mt-1">
                <span>Start date is required</span>
              </div>
            }
          </div>

          <div class="flex-1">
            <label class="label">
              <span class="label-text"
                >Week End Date (covers a 7-day period)</span
              >
            </label>
            <input
              type="date"
              class="input w-full"
              [value]="calculatedDateTo()"
              readonly
              disabled
            />
          </div>
        </div>

        <div class="flex gap-2">
          <button
            type="submit"
            class="btn btn-neutral flex-1"
            [disabled]="isLoading()"
          >
            @if (isLoading()) {
              <span class="loading loading-spinner loading-md"></span>
              Creating...
            } @else {
              Create Timesheet
            }
          </button>
          <button
            type="button"
            class="btn btn-ghost"
            (click)="goBack()"
            [disabled]="isLoading()"
          >
            Cancel
          </button>
        </div>
      </form>
    </fieldset>
  </div>
</div>
