<div class="mt-36">
  <h2 class="text-3xl text-center mb-4">EntryPoint, a Timesheet App</h2>
  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-md mx-auto border p-4"
  >
    <legend class="fieldset-legend">Reset Password</legend>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      @if (successMessage) {
      <div class="toast toast-top toast-center">
        <div class="alert alert-success mb-4">
          <span>{{ successMessage }}</span>
        </div>
      </div>
      } @if (errorMessage) {
      <div class="toast toast-top toast-center">
        <div class="alert alert-error mb-4">
          <span>{{ errorMessage }}</span>
        </div>
      </div>
      }

      <label class="label">Email*</label>
      <input
        type="email"
        class="input w-full"
        placeholder="Email"
        formControlName="email"
        [class.input-error]="email?.invalid && email?.touched"
      />
      @if (email?.invalid && email?.touched) {
      <div class="text-error text-sm mt-1">
        @if (email?.errors?.['required']) {
        <span>Email is required</span>
        } @if (email?.errors?.['email']) {
        <span>Invalid email format</span>
        }
      </div>
      }

      <button
        type="submit"
        class="btn btn-neutral mt-4 w-full"
        [disabled]="isSubmitting"
      >
        @if (isSubmitting) {
        <span class="loading loading-spinner loading-md"></span>
        Sending... } @else { Send Reset Link }
      </button>
    </form>
  </fieldset>

  <div class="w-md mx-auto mt-2">
    <a
      class="btn btn-soft btn-xs btn-secondary"
      href="mailto:it@pcfsouvenirs.com"
      >Support</a
    >
  </div>
</div>
