<div class="flex flex-col min-h-screen">
  <app-nav></app-nav>

  <div class="grow mt-16 sm:mt-40 max-w-4xl mx-auto px-4 w-full">
    @if (service.isLoading()) {
      <div class="flex justify-center items-center py-20">
        <span class="loading loading-spinner loading-xl"></span>
      </div>
    } @else if (service.error()) {
      <div class="alert alert-error mb-4">
        <span>{{ service.error() }}</span>
      </div>
    } @else {
      <div class="flex justify-between">
        <h1 class="text-3xl">Hello, {{ userFullName }}</h1>
        <button class="btn btn-primary btn-sm" (click)="createNewTimesheet()">
          New Timesheet
        </button>
      </div>

      <div
        class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-4 mb-6 mt-6"
      >
        <app-card
          cardClasses="text-success"
          title="Total Approved"
          value="{{ totalApproved() }}"
        ></app-card>
        <app-card
          cardClasses="text-info"
          title="Total Pending"
          value="{{ totalPending() }}"
        ></app-card>
        <app-card
          cardClasses="text-error"
          title="Total Denied"
          value="{{ totalDenied() }}"
        ></app-card>
        <app-card
          cardClasses="text-warning"
          title="Total Drafts"
          value="{{ totalDrafts() }}"
        ></app-card>
      </div>

      <div class="flex flex-col items-center">
        <div
          class="w-full overflow-x-auto overflow-y-auto mb-4 mt-4 rounded-box bg-base-300"
        >
          <table class="table">
            <thead>
              <tr>
                <th>Week</th>
                <th>Total Hours</th>
                <th>Total Charges</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (weeklyLog of service.weeklyLogs(); track weeklyLog.id) {
                <tr class="align-middle">
                  <td>
                    {{ weeklyLog.dateFrom | date: "MMM d, y" }} -
                    {{ weeklyLog.dateTo | date: "MMM d, y" }}
                  </td>
                  <td>{{ weeklyLog.totalHours }} hrs</td>
                  <td>${{ weeklyLog.totalCharges }}</td>
                  <td [ngClass]="getStatusClass(weeklyLog.status)">
                    {{ weeklyLog.status }}
                  </td>
                  <th class="flex justify-center gap-2">
                    <button
                      class="btn btn-sm sm:btn-md btn-outline btn-secondary"
                      (click)="viewDailyLogs(weeklyLog.id)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 14 14"
                      >
                        <g
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path
                            d="M13.23 6.33a1 1 0 0 1 0 1.34C12.18 8.8 9.79 11 7 11S1.82 8.8.77 7.67a1 1 0 0 1 0-1.34C1.82 5.2 4.21 3 7 3s5.18 2.2 6.23 3.33Z"
                          />
                          <circle cx="7" cy="7" r="2" />
                        </g>
                      </svg>
                    </button>
                    @if (weeklyLog.status === "Draft") {
                      <button
                        class="btn btn-sm sm:btn-md btn-outline btn-primary"
                        (click)="editTimesheet(weeklyLog.id)"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill="currentColor"
                            d="M5 19h1.425L16.2 9.225L14.775 7.8L5 17.575zm-2 2v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM19 6.4L17.6 5zm-3.525 2.125l-.7-.725L16.2 9.225z"
                          />
                        </svg>
                      </button>
                    }
                  </th>
                </tr>
              } @empty {
                <tr>
                  <td colspan="5" class="text-center py-8">
                    No timesheets found
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        @if (service.totalPages() > 1) {
          <div class="join mb-8">
            <button
              class="join-item btn btn-square"
              [disabled]="service.page() === 1"
              (click)="onPageChange(service.page() - 1)"
            >
              «
            </button>

            @for (pageNum of pageNumbers(); track pageNum) {
              <button
                class="join-item btn btn-square"
                [class.btn-active]="pageNum === service.page()"
                (click)="onPageChange(pageNum)"
              >
                {{ pageNum }}
              </button>
            }

            <button
              class="join-item btn btn-square"
              [disabled]="service.page() === service.totalPages()"
              (click)="onPageChange(service.page() + 1)"
            >
              »
            </button>
          </div>
        }
      </div>
    }
  </div>

  <app-footer class="mt-8"></app-footer>
</div>
